name: CI/CD workflow

on: 
    push:

jobs:
    check_working_repo:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v3
              with: 
                python-version: '3.10'

            - name: Install dependencies
              run: pip install -r requirements.txt
            
            - name: Run train.py
              run: python train.py

            - name: Run test.py
              run: python test.py